.span11
  %table.table.table-striped
    %thead
      %tr
        %th= t('simple_form.labels.events.name')
        %th= t('simple_form.labels.events.description')
        %th= t('simple_form.labels.events.starts_at')
        %th

    %tbody
      %tr
        %td= decorated_event.name
        %td= decorated_event.description
        %td= decorated_event.starts_at





= link_to t('common.back'), "http://localhost:3000/", class: 'btn btn-default'
