%h3= t('user.home.dashboard.show.header', name: current_user.name)

.row
  .col-md-12
    .panel.panel-default
      .panel-heading= t('user.home.dashboard.show.account_header')
      .panel-body= 'TODO'

.row
  .col-md-6
    = render 'membership'
  .col-md-6
    = render 'voting'
