%h3= t('admin.forums.index.header')
.spanall
  - if forums.count != 0
    %table.table.table-striped
      %thead
        %th= t('simple_form.labels.forum.name')
        %th= t('simple_form.labels.forum.url')
        %th
        %th
        %th
      %tbody
        - forums.each do |forum|
          %tr
            %td= forum.name
            %td= link_to forum.url, forum.url
            %td 
            %td= link_to t('admin.forum.link.edit'), edit_admin_forum_path(forum.id)
            %td= link_to t('admin.forum.link.destroy'), admin_forum_path(forum.id), method: :delete
  = link_to t('admin.forum.link.new'), new_admin_forum_path
