%h3= t('admin.forums.index.header')
.spanall
  - if forums.count != 0
    %table.table.table-striped
      %thead
        %th= t('simple_form.labels.forum.name')
        %th= t('simple_form.labels.forum.url')
        %th= t('actions')
      %tbody
        - forums.each do |forum|
          %tr
            %td= forum.name
            %td= link_to forum.url, forum.url
            %td
              = link_to t('common.edit'), edit_admin_forum_path(forum)
              = link_to t('common.destroy'), admin_forum_path(forum), method: :delete
  = link_to t('common.new'), new_admin_forum_path
