%h3= t('users.index.header')
.span11
  %table.table.table-striped
    %thead
      %tr
        %th= t('simple_form.labels.user.name')
        %th= t('simple_form.labels.user.email')
        %th= t('simple_form.labels.user.membership_name')
        %th= t('simple_form.labels.user.created_at')
        %th= t('simple_form.labels.user.role')
        %th
        %th
        %th
    %tbody
      - decorated_collection.each do |decorated_user|
        %tr
          %td= link_to decorated_user.name, [:admin, decorated_user]
          %td= decorated_user.email
          %td= decorated_user.membership_state
          %td= decorated_user.created_at.to_date
          %td= decorated_user.roles.first.name.titleize unless decorated_user.roles.first.nil?
          %td= link_to t('links.user.rights'), edit_admin_user_rights_path(decorated_user), class: 'btn btn-mini', data: {colorbox: true}
          %td= link_to(t('links.user.destroy'), admin_user_path(decorated_user), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-mini') unless decorated_user.object == current_user
          %td= link_to t('links.user.contributions'), admin_user_contributions_path(decorated_user), class: 'btn btn-mini'
