%h3= t('users.index.header')
.span11
  %table.table.table-striped
    %thead
      %tr
        %th= t('simple_form.labels.user.name')
        %th= t('simple_form.labels.user.email')
        %th= t('simple_form.labels.user.membership_name')
        %th
        %th= t('resources.contribution')
        %th= t('simple_form.labels.user.created_at')
        %th= t('simple_form.labels.user.role')
        %th
    %tbody
      - decorated_collection.each do |decorated_user|
        %tr{class: decorated_user.row_class }
          %td= link_to decorated_user.name, [:admin, decorated_user]
          %td= decorated_user.email
          %td= decorated_user.membership_state
          %td= decorated_user.membership_actions
          %td= decorated_user.contribution_state
          %td= decorated_user.created_at.to_date
          %td= decorated_user.roles.first.name.titleize unless decorated_user.roles.first.nil?
          %td
            - if decorated_user.membership_approved?
              = link_to t('links.user.add_contribution'), new_admin_user_contribution_path(decorated_user), class: 'btn btn-xs btn-default', data: { colorbox: true }
