%h3= t('admin.users.show.header', name: user.name)

.row
  .col-md-8
    .panel.panel-info
      .panel-heading= t('admin.users.show.summary_header')
      .panel-body
        %p
          %strong= t('simple_form.labels.user.name')+':'
          = user.name
        %p
          %strong= t('simple_form.labels.user.email')+':'
          = user.email
        %p
          %strong= t('simple_form.labels.user.created_at')+':'
          = user.created_at
    - if membership
      .panel.panel-info
        .panel-heading= t('admin.users.show.membership_header')
        .panel-body
          = simple_form_for membership, url: admin_user_membership_path(user, membership), html: {method: :patch} do |f|
            = f.input :approved_at, as: :string
            = f.submit t('common.update'), class: 'btn btn-default pull-right'
    .panel.panel-info
      .panel-heading= t('admin.user.contributions.index.header')
      .panel-body
        %ul.list-group
          - contributions.each do |contribution|
            %li.list-group-item
              = contribution.amount
              = contribution.expires_at_label
              = link_to t('common.destroy'), admin_user_contribution_path(user, contribution),
                                      data: { confirm: t('common.confirm') },
                                      method: :delete,
                                      class: 'btn btn-xs btn-danger pull-right'

        = link_to t('common.new'), new_admin_user_contribution_path(user), class: 'btn btn-primary pull-right', data: { colorbox: true }
  .col-md-4
    .panel.panel-primary
      .panel-heading= t('admin.users.show.actions_header')
      .panel-body
        = link_to t('links.user.rights'), edit_admin_user_rights_path(decorated_user), class: 'btn btn-default btn-block', data: {colorbox: true}
        - unless user.membership_approved?
          = link_to t('links.user.force_approve'), admin_user_membership_acceptance_path(decorated_user), method: :post, class: 'btn btn-default btn-block'
        - unless decorated_user.object == current_user
          = link_to(t('links.user.destroy'), admin_user_path(decorated_user), data: { confirm: t('common.confirm') }, method: :delete, class: 'btn btn-danger btn-block')


.row
  .col-md-12
    = link_to t('common.back'), admin_users_path, class: 'btn btn-default'
