- content_for :content do
  .col-md-8
    = yield
  .col-md-4
    - if signed_in?
      %h3= t('user.home.dashboard.show.header', name: current_user.name)
      = render 'user/dashboard/membership'
    - else
      = render 'devise/sessions/login_panel'
      = render 'devise/sessions/registration_panel'
    = render 'layouts/links'

= render template: 'layouts/master'
